*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
MetaButler/modules/helper_funcs/temp.txt
*.session
kangsticker.png
venv
env
env/
*.session-journal
config.ini
*.log
shell_output.txt
.vs
Pipfile
Pipfile.lock
alembic.ini
updates.txt
