aiohttp>=2.2.5
alphabet_detector
beautifulsoup4
bleach
cachetools
configparser
emoji
feedparser
future
geopy
git+https://github.com/python-telegram-bot/ptbcontrib.git#egg=ptbcontrib
gitpython
gpytranslate
hurry.filesize
markdown2
multicolorcaptcha
nltk
pillow>=4.2.0
psutil
psycopg2-binary
pyYAML>=5.1.2
pyrate-limiter
pytesseract
python-rapidjson
python-telegram-bot==13.13
requests
spamwatch
speedtest-cli
spongemock
sqlalchemy==1.4.11
telethon==1.16.4
tgcrypto
tswift
ujson
zalgo-text
wikipedia
pycryptodome
base58
privatebinapi
pytimeparse
SibylSystem
alembic
